body {
    font-family: Arial, sans-serif;
    background-color: #000000; /* Black background */
    margin-top: 5px;
    padding: 0;
}
.registration-container {
    width: 50%;
    margin: 20px auto;
    background-color: #484346; /* Dark background */
    padding: 50px;
    border-radius: 0px;
    box-shadow: 0px 0px 10px rgb(255, 255, 255);
}
h1 {
    text-align: center;
    font-size: 2em;
    color: rgb(255, 253, 253);
    margin-bottom:50px;
}
.form-group {
    display: flex;
    justify-content: space-between;
    color: rgb(255, 253, 253);
    align-items: center;
    margin-bottom: 10px;
}
.form-group label {
    font-size: 1.1em;
    width: 45%;
    text-align: left;
}
.form-group input[type="text"],
.form-group input[type="password"],
.form-group input[type="date"],
.form-group input[type="email"] {
    width: 50%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1em;
}
.gender-options {
    width: 50%;
    display: flex;
    justify-content: space-around;
}
.gender-options input {
    margin-right: 5px;
}
.submit-btn {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.submit-btn button {
    padding: 10px 20px;
    background-color: #4d564e;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1em;
}
.submit-btn button:hover {
    background-color: #007906;
}